html {
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #333333;
  font-size: 1.6rem;
  font-family: "M+PLUS+1p";
  min-width: 375px;
  width: 100%;
  overflow-x: hidden;
}

img,
object {
  height: auto;
  border: none;
  display: block;
}

a {
  text-decoration: underline;
  text-decoration: none;
}

.l-header {
  background-color: #FFF7EF;
  z-index: 1;
}
.l-header__content {
  height: 217px;
}
.l-header__logo {
  font-size: 40px;
  font-weight: bold;
  top: 40px;
  text-align: center;
  color: #707070;
  padding-bottom: 38px;
  font-family: "Roboto";
}

.l-footer {
  background-image: url(./../../img/footer-bg.png);
  height: 150px;
}

.c-inner__map {
  margin: 0 40px;
}

@media (min-width: 768px) {
  .c-inner__theme {
    display: flex;
  }
}
.c-button {
  display: flex;
  margin-left: auto;
  font-size: 20px;
  padding-top: 14px;
  padding-right: 16px;
  right: 0;
  font-family: "Roboto";
}

.c-title__fv {
  position: absolute;
  top: 119px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding: left;
  padding-left: 25px;
}

.c-title__map {
  position: absolute;
  top: 10px;
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  padding: 30px 0;
  z-index: 15;
}
.c-title__map h2::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background-color: white;
  top: 102px;
  left: 5px;
}

.c-title__section {
  font-size: 4.1rem;
  font-family: "Roboto";
  color: white;
  margin-top: 11px;
  margin-left: 15px;
}
.c-title__section::after {
  position: absolute;
  top: 80px;
  left: 15px;
  content: "";
  width: 33px;
  height: 4px;
  background-color: white;
}

@media (min-width: 768px) {
  .p-fv__title {
    display: none;
  }
}
.c-text {
  width: 305px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 15px;
  padding-top: 7px;
  padding-left: 10px;
}
.c-text__content {
  width: 100%;
  box-sizing: border-box;
}
.c-text__title {
  font-size: 2.2rem;
}
.c-text__map {
  position: absolute;
  top: 130px;
  color: white;
  z-index: 15;
  line-height: 2;
  padding-right: 40px;
  overflow: hidden;
}

.c-section__TakeOut {
  background-image: url(./../../../img/front-page-main02.png);
  background-size: cover;
  height: auto;
  width: 335px;
  margin: 15px;
  height: 642px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.c-section__EatIn {
  background-image: url(./../../../img/front-page-main03-sp.jpg);
  background-size: cover;
  height: auto;
  width: 335px;
  margin: 15px;
  height: 642px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.c-link {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: white;
  padding: 40px 63px 34px 62px;
  position: relative;
}
.c-link__shop {
  position: relative;
}
.c-link__shop::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 20px;
  top: 5px;
  right: -18px;
  display: inline-block;
  background-color: white;
}

.c-copy {
  color: white;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

.c-layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

@media (min-width: 768px) {
  .c-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
  }
}
.p-seach-form {
  display: flex;
}

.p-seach-form-keyword {
  display: flex;
  align-items: center;
  border: solid 1px;
  width: 230px;
  height: 46px;
  border-radius: 5px;
  margin-left: 24px;
  margin-right: 10px;
  color: #707070;
  background-color: white;
}

.fa-size {
  font-size: 3rem;
  padding: 10px;
  color: #707070;
}

@media (min-width: 768px) {
  .p-seach-form-keyword {
    width: 396px;
  }
  .p-seach-form {
    justify-content: center;
  }
}
.p-button__seach {
  line-height: 2;
  border: solid 1px;
  width: 78px;
  border-radius: 5px;
  color: #707070;
  background-color: #F2EDE9;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

input {
  vertical-align: -webkit-baseline-middle;
}

@media (min-width: 768px) {
  .p-button__seach {
    width: 136px;
    text-align: center;
  }
}
.p-fv {
  position: relative;
  height: 285px;
}
.p-fv img {
  -o-object-fit: cover;
     object-fit: cover;
  height: inherit;
  width: 100%;
}

.p-map {
  position: relative;
  margin-top: 50px;
  background-color: #000000;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */