@use "./../../foundation/variable" as *;

.c-button {
    width: 70px;
    height:50px;
    display: flex;
    margin-left: auto;
    font-size: 20px;
    padding-top: 14px;
    padding-right: 16px;
    right: 0;
    font-family: "Roboto";
    z-index: 20;
    position: sticky;
    h3 {
      font-size: 2.5rem;
      color: $color-gray;
    }
    &.is-open {
          h3 {
            display: none;
          }
          
    }
}

@include breakpoint(pc) {
  .c-button {
    display: none;
  }
}
