@use "./../../foundation/variable" as *;


.c-inner__theme {
    margin: 15px;
}
.c-inner__text {
    color: #3C2A10;
}


@include breakpoint(tablet) {
    .c-inner__theme {
        display: flex;
        margin: 40px;
    }
    .c-inner__card {
        display: flex;
        width: 100%;
    }
}

@include breakpoint(pc) {
    .c-inner {
        &__theme {
            height: 1196px;
            margin: 75px 69px 83px;
        }
        &__card {
            display: flex;
        }
    }
}

.c-inner__card  {
    padding-bottom: 30px;
}

.c-inner__card img {
    object-fit: cover;
    min-width: 50%;
}

