@use "./../../foundation/variable" as *;

.c-inner__map {
    margin: 0 40px;
}

.c-inner__theme {
    margin: 15px;
}

@include breakpoint(tablet) {
    .c-inner__theme {
        display: flex;
        margin: 40px;
    }
}

@include breakpoint(pc) {
    .c-inner__theme {
        height: 1196px;
        margin: 120px 111px 134px;
    }
}