@use "./../../foundation/variable" as *;

.c-layer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(#000000, 0.3);
    z-index: 5;
}

@include breakpoint(tablet) {
    .c-layer {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000000, 0.3);
        z-index: 5;   
    }
}

@include breakpoint(pc) {
    .c-layer {
        position: absolute;
        top: 0;
        width: 60%;
        height: 100%;
        background-color: rgba(#000000, 0.3);
        z-index: 5;   
    }

}