@use "./../../foundation/variable" as *;

.c-link {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: $color-white;
    padding: 40px 63px 34px 62px ;
    position: relative;
    &__shop {
        position: relative;
    }
    &__shop::after{
        position: absolute;
        content: "";
        width: 2px;
        height: 20px;
        top: 5px;
        right: -18px;
        display: inline-block;
        background-color: $color-white;
    } 
}