@use "./../../foundation/variable" as *;

.c-title__fv {
    position: absolute;
    top: 119px;
    font-size: 3rem;
    font-weight: bold;
    color: $color-white;
    padding: left;
    padding-left: 25px;
}

.c-title__map {
    position: relative;
    top: 10px;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    padding: 30px 0 30px 40px;
    z-index: 15;
    h2::after{
        position: absolute;
        content: "";
        width: 70px;
        height: 3px;
        background-color: $color-white;
        top: 102px;
        left: 40px;
    }
}

.c-title__section {
    font-size: 4.1rem;
    font-family: "Roboto";
    color: $color-white;
    margin-top: 11px;
    margin-left: 15px;
    &::after{
        position: absolute;
        top: 80px;
        left: 15px;
        content: "";
        width: 33px;
        height: 4px;
        background-color: $color-white;
     }
}

@include breakpoint(tablet) {
    .p-fv__title {
        display: none;
    }
}

.c-title__sidebar{
  display: none;
}

.c-title__menu {
    padding-left: 46px;
    padding-bottom: 40px;
    padding-top: 34px;
    font-weight: bold;
    &__burger {
        padding-left: 46px;
        padding-bottom: 40px;
        padding-top: 85px;
        font-weight: bold;
    }
}

.c-title__sidebar {
    font-size: 3.4rem;
}

.c-title__menu__burger {
    font-size: 2.4rem;
    font-weight: bold;
}
.c-title__menu {
    font-size: 2.4rem;
    font-weight: bold;
}


@include breakpoint(pc) {
    .c-title__sidebar{
        padding-top: 82px;
        padding-left: 46px;
    }
    .c-title__fv {
        top: 231px;
    }
    .c-title__map {
        padding-top: 51px;
        padding-left: 74px;
        h2::after{
            position: absolute;
            content: "";
            width: 70px;
            height: 3px;
            background-color: $color-white;
            top: 190px;
            left: 74px;
        }
    }
}

// @include breakpoint(pc) {
//     .c-title__map h2::after {
//       top: 190px;
//     }
// }