@use "./../../foundation/variable" as *;

.p-seach-form {
    display: flex;
}
.p-seach-form-keyword {
    border: solid 1px;
    width: 230px;
    height: 35px;
    border-radius: 5px;
    margin-left: 24px;
    margin-right: 10px;
    color: #707070;
    background-color: #FFF;
}

