@use "./../../foundation/variable" as *;

.p-seach-form {
    display: flex;
}
.p-seach-form-keyword {
    display: flex;
    align-items: center;
    border: solid 1px;
    width: 230px;
    height: 46px;
    border-radius: 5px;
    margin-left: 24px;
    margin-right: 10px;
    color: $color-gray;
    background-color: $color-white;
}
.fa-lg {
    font-size: 2em;
    padding: 10px;
    color: $color-gray;
}