@use "./../../foundation/variable" as *;

.p-fv {
    position: relative;
    height: 285px;
    img {
        object-fit: cover;
        height: inherit;
        width: 100%;
    }
}

@include breakpoint(pc) {
    .p-fv {
        height: 530px;
    }
    img {
        min-height: 530px;     
    }
}