@use "./../../foundation/variable" as *;

.p-fv {
    position: relative;
    // max-width: 375px;
    height: 285px;
    img {
        object-fit: cover;
        height: inherit;
        width: 100%;
    }
}