@use "./../../foundation/variable" as *;

.p-button__seach {
    border: solid 1px;
    width: 50px;
    border-radius: 5px;
    color: #707070;
    background-color: #F2EDE9;
    font-weight: bold;
    text-align: center;
    padding-top: 3px
}