@use "./../../foundation/variable" as *;

.p-map {
    position: relative;
    margin-top: 50px;
    background: url(./../../../img/p-front-map.png) $color-black;
    width: 100%;
    height: auto;  
}

