@use "./../../foundation/variable" as *;

.p-section__TakeOut {
    position: relative;
    background-image: url(./../../../img/front-page-main02.png); 
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 1199px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p-section__EatIn {
    position: relative;
    background-image: url(./../../../img/front-page-main03-sp.jpg); 
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 15px;
    min-height: 1199px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@include breakpoint(tablet) {
    .p-section__TakeOut {
        margin-right: 20px; 
    }
    .p-section__EatIn {
        margin-top: 0;
        margin-left: 20px;
    }
}


@include breakpoint(pc) {
    .p-section__TakeOut {
        height: auto;
        margin-right: 50px; 
    }
    .p-section__EatIn {
        height: auto;
        margin-left: 50px;
    }
}


.p-section__figure {
    padding: 30px 19px 30px 22px
}
@include breakpoint(tablet) {
    .p-section__figure {
        padding: 36px 35px 30px 43px;
    }
}
@include breakpoint(pc) {
    .p-section__figure {
        padding: 62px;
    }
}