@use "./../foundation/variable" as *;

.l-header {
    background-color: $color-header-bg;
    z-index: 1;

    &__content {       
        height: 217px;
    }
    &__logo {
    font-size: 40px;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
    color: $color-gray;
    padding-bottom: 38px;
    font-family: "Roboto";
    }
}

@include breakpoint(pc) {
    .l-header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .l-header__logo {
        padding-bottom: 0;
        padding-top: 0;
        margin-left: 65px;
    }
}