@use "./../foundation/variable" as *;

.l-header {
    background-color: $color-header-bg;
    z-index: 1;

    &__content {
        width: 375px;
        height: 217px;
    }
    &__logo {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    top: 50px;
    text-align: center;
    }
}