@use "./../foundation/variable" as *;

.l-sidebar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  line-height: 3;
  width: 375px;
  background-color: #F2EDE9;
  &.is-open {
    display: block;
  }
}

.c-title__sidebar{
  display: none;
}





@include breakpoint(pc) {
  .l-sidebar {
    display: block;
    h2 {
    display: block;
    }grid-column: 1 / 3;
  }
}