@use "./../foundation/variable" as *;

.l-sidebar {
  min-height: 2843px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(375px);
  transition: all 0.2s;
  font-size: 2rem;
  line-height: 3;
  background-color: #F2EDE9;
  z-index: 10;
  &.is-open {
    display: block;
    right: 0;
    transform: translateX(0);
  }
}

.c-title__sidebar{
  display: none;
}

.is-open.is-open.hamburger-bg-cover {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(3,3,3,.5);
	display: block;
}

@include breakpoint(pc) {
  .l-sidebar {
    transition: none;
    transform: none;
    position: static;
    h2 {
    display: block;
    }
  }
}